/* Mobile first*/
.container{ 
  width: 100%;
  padding: 15px;
}

/* Tabel & desktop */
@media (min-width: 768px){
  .container{
    max-width: 1900px;
    margin:auto;
  }
}



@media (min-width: 768px) {
  section p {
    text-align: justify;
  }
}

.container{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color:#757c88; 
}

.container_1{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   min-height: 100px;
   display: flex;
   align-items: flex-end;
   color:#757c88;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.3rem;
  margin: 0;
  padding: 70px 0 0;
  line-height: 1.6;
}

header {
  background: #ffffff;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 70px;
  height:auto;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 999;
}

main section:first-child{
  text-align:left;
}

h1,h2,h3{
  margin-top:0;
  margin-bottom:0.8 rem;
}

p{
  margin-top: 0;
  margin-bottom: 1rem;
}




h1 {
  text-align: left;
  margin-top: 1px;;
  margin-bottom:0.8rem;
  
}

h4{
  font-size: 20px;
}


.con{
  background-color: rgb(255, 255, 255);
}




ul{
  padding-left: 1.2rem;
}

li{
  margin-bottom: 0.6rem;
  line-height: 1.5;
}
/* container inside header */
.nav-container {
  max-width: 100%;  /* limits width like aitoptools */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 1rem;
}

/* logo */
.logo a {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: #00d9ff;
  align-items: right;
}

/* keep logo left */
.logo{
  flex:1;
}

/* navigation links */
.nav-links a {
  margin: 0 0.8rem;
  text-decoration: none;
  font-size: 1rem;
  color: #333;
}




section {
  padding: 1rem 1rem;
}



footer {
  background: #f4f4f4;
  text-align: center;
  padding: 1rem;
  width: 100%;
}


/* ===== HAMBURGER MENU ===== */
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background-color: #333;
}

/* ===== MOBILE VIEW ===== */
@media (max-width: 768px) {

  .menu-toggle {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 70px; /* same as header height */
    left: 0;
    width: 100%;
    background: #fff;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    display: none;
  }

  .nav-links a {
    margin: 0.8rem 0;
    font-size: 1.1rem;
  }

  .nav-links.active {
    display: flex;
  }
}

.e{
  color: #ff0000;
}

.H{
  color: #7c3aed;
}

a{
  color: #c22492;
}
